<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>saveCustomer</servlet-name>
  	<display-name>saveCustomer</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.saveCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditCustomer</servlet-name>
  	<display-name>EditCustomer</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.EditCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editCustomer</servlet-name>
  	<display-name>editCustomer</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.EditCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditCustomer2</servlet-name>
  	<display-name>EditCustomer2</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.EditCustomer2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomer</servlet-name>
  	<display-name>DeleteCustomer</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.DeleteCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCustomer</servlet-name>
  	<display-name>ViewCustomer</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.ViewCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveCar</servlet-name>
  	<display-name>SaveCar</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.SaveCar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditCar</servlet-name>
  	<display-name>EditCar</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.EditCar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditCar2</servlet-name>
  	<display-name>EditCar2</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.EditCar2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCar</servlet-name>
  	<display-name>DeleteCar</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.DeleteCar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCar</servlet-name>
  	<display-name>ViewCar</display-name>
  	<description></description>
  	<servlet-class>org.jagjeet.crs.controller.ViewCar</servlet-class>
  </servlet>
   
  <servlet-mapping>
  	<servlet-name>saveCustomer</servlet-name>
  	<url-pattern>/saveCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditCustomer</servlet-name>
  	<url-pattern>/EditCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editCustomer</servlet-name>
  	<url-pattern>/editCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditCustomer2</servlet-name>
  	<url-pattern>/EditCustomer2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomer</servlet-name>
  	<url-pattern>/DeleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCustomer</servlet-name>
  	<url-pattern>/ViewCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveCar</servlet-name>
  	<url-pattern>/SaveCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditCar</servlet-name>
  	<url-pattern>/EditCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditCar2</servlet-name>
  	<url-pattern>/EditCar2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCar</servlet-name>
  	<url-pattern>/DeleteCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCar</servlet-name>
  	<url-pattern>/ViewCar</url-pattern>
  </servlet-mapping>
</web-app>
